{% extends "base.html" %}

{% block title %}Teachers{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Teachers</h4>
                </div>
                <div class="card-body">
                    {% if teachers %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Card ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for teacher in teachers %}
                                        <tr>
                                            <td>{{ teacher.name }}</td>
                                            <td>{{ teacher.class }}</td>
                                            <td>{{ teacher.card_id }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <i class="mdi mdi-information me-2"></i>
                            No teachers found.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}